## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: kde-no-move-max-win
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 8), faketime, git
Homepage: https://github.com/Whonix/kde-no-move-max-win
Vcs-Browser: https://github.com/Whonix/kde-no-move-max-win
Vcs-Git: https://github.com/Whonix/kde-no-move-max-win.git
Standards-Version: 3.9.4

Package: kde-no-move-max-win
Architecture: all
Depends: ${misc:Depends}
Description: Deactivate maximize windows when moved to the top
 In context of anonymity it might be better not to maximize the browser window
 (https://trac.torproject.org/projects/tor/ticket/7255).
 .
 To prevent users from accidentally maximizing their browser window, it is
 better when KDE's feature to maximize windows when moved to the top is
 disabled.
 .
 This package only takes effect for newly created user accounts. Not for
 existing user accounts. This package is most useful to help Linux distribution
 maintainers setting divergent defaults.
